* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*first-mobile*/
.container {
  width: 100%;
  max-width: 1200px;
  margin:auto;
}
/*Fondo de imagen*/
.bg-kitten {
  background-image: url(../assets/images/dawn.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*Estilos de imagen-kitten*/
.kitten {
  margin: 0 auto;
  width: 100%;
  padding-top: 25em;
}
/*clase que le da un margen para que la imagen se mueva 4columnas a su derecha*/
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
/*tamaño del espacio de el centrado 4columnas*/
.col-xs-4 {
  width: 33.33333333%;
}

/*tablet*/
@media (min-width: 768px) {
  .bg-kitten {
    background-image: url(../assets/images/night.jpg);
  }

  .kitten {
    content: url(../assets/images/kitten-small.png);
  }
}

/*desktop*/

@media (min-width: 1200px) {
  .bg-kitten {
    background-image: url(../assets/images/sunny-day.jpg);
  }

  .kitten {
    content: url(../assets/images/kitten-medium.png);
  }
}
