* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*first-mobile*/
.container {
  width: 100%;
  /*max-width: 1200px;*/
  margin:auto;
}
/*Fondo de imagen*/
.bg-kitten {
  background-image: url(../assets/images/dawn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
}
/*Estilos de imagen-kitten*/
.kitten {
  width: 100%;
  padding-top: 30em;
}

/*tablet*/
@media (min-width: 768px) {
  .bg-kitten {
    background-image: url(../assets/images/night.jpg);
  }

  .kitten {
    content: url(../assets/images/kitten-small.png);
    width: 50%;
    margin-left: 15em;
  }
}

/*desktop*/

@media (min-width: 992px) {
  .bg-kitten {
    background-image: url(../assets/images/sunny-day.jpg);
    height: 45em;
  }

  .kitten {
    content: url(../assets/images/kitten-medium.png);
    padding-top: 25%;
    margin-left: 30%;
    width: 35em;
  }
}
